

<header class="header">
    
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="#"><img src="../../assets/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="#trang-chu">Trang chu</a></li>
                            <li><a href="#san-pham">San Pham</a></li>
                            <li><a href="#tin-tuc">Tin tuc</a>
                            </li>
                            <li><a href="#gioi-thieu">Gioi Thieu</a></li>
                            <li><a href="#lien-he">Lien He</a></li>
                            <li><a href="#trang-cua-toi">My page</a></li>
                           
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#dang-nhap" ng-hide="loginSuccess == true "><i class="fa fa-user" aria-hidden="true"></i><p>{{ ten }}</p></a></li>
                            <li><a href="" ng-show="loginSuccess == true"><i class="fa fa-user" aria-hidden="true"></i><p>{{ ten }}</p></a></li>

                            <li><a href="#gio-hang"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span >{{dem}}</span></a></li>
                            <li> 
                                <input type="search" ng-model="searchText" required style="margin-top:-500px; max-width: 150px;">
                                <i class="fa fa-search" style="margin-left:-30px;"></i>
                            </li>
                          
                        </ul>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </header>