    <style>
        .my-5 {
          margin: 3rem 0;
        }
      </style>

  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Quên mật khẩu</h1>
          <form name="myForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" aria-describedby="emailHelp" ng-model="email" required>
              <small id="emailHelp" class="form-text text-muted" >chung toi se gui den ban 1 thong bao</small>
              <span ng-show="myForm.email.$touched && myForm.email.$invalid">The name is required.</span>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Gửi</button>
          </form>
        </div>
      </div>
    </div>
  </body>
