<style>
  input {
    max-width: 300px;
  }
  button {
    margin-left: 40px;
  }
</style>

<section>
  <div class="row">
    <div class="col-3" style="background-color: black">
      <nav class="nav flex-column">
        <h2
          style="
            text-align: center;
            color: aliceblue;
            margin-top: 40px;
            padding-bottom: 40px;
          "
      
        >
          Admin
        </h2>
        <a
          class=""
          style="
            text-align: center;
            color: aliceblue;
            margin-top: 40px;
            padding-bottom: 40px;
            text-decoration: none;
          "
              href="#procduct"
          ><i class="fas fa-edit"></i> Product</a
        >
        <a
          class=""
          style="
            text-align: center;
            color: aliceblue;
            margin-top: 40px;
            padding-bottom: 40px;
            text-decoration: none;
          "
          href="#category"
          ><i class="fas fa-edit"></i> Category</a
        >
      </nav>
    </div>
    <div class="col-9" style="background-color: rgb(255, 255, 255)">
      <div class="container">
        <form style="margin-top: 40px; margin-left: 200px">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Ten </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                ng-model="form.name"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              >Loai</label
            >
            <div class="col-sm-10">
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                style="max-width: 200px"
                ng-model="form.category"
                ng-options="item.name for item in listCategory"
                 
              >
            
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              >Gia</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputPassword3"
                ng-model="form.price"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"
              >Anh</label
            >
            <div class="col-sm-10">
              <div>
                <input
                  class="form-control form-control-lg"
                  id="formFileLg"
                  type="text"
                  ng-model="form.img"
                />
              </div>
            </div>
          </div>

          <button style="margin-left: 200px;width: 80px;" type="submit" class="btn btn-primary" ng-click="addProduct($event)">
            Add
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            ng-click="updateProduct($event)"
          >
            Update
          </button>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ten</th>
            <th scope="col">Gia</th>
            <th scope="col">Loai</th>
            <th scope="col">Anh</th>
            <th scope="col">Delete</th>
            <th scope="col" >Details</th>
          </tr>
        </thead>
        <tbody ng-repeat="item in listSP">
          <tr>
            <th>{{item.name}}</th>
            <td>{{item.price}}</td>
            <td>{{item.category.name}}</td>
            <td>{{item.img}}</td>
            <td><button ng-click="xoaProduct($event,$index)">Delete</button></td>
            <td><button ng-click="details($event,$index)">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</section>


